body {
	background-color: #F5DEB3;
	overflow: hidden;
}

#movable-dot {
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	position: absolute;

	z-index: 1000;
	transform: translate(-50%, -50%)
}

.trail {
	width: 8px;
	height: 8px;
	background-color: black;
	border-radius: 50%;
	position: absolute;

	z-index: 999;
	animation: fade-out 0.5s linear forwards;
}

@keyframes fade-out {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0);
	}
}
